<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pack_My_Game.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pack_My_Game.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Pack_My_Game.Properties.Settings>
            <setting name="LBPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutPPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastKPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastKSystem" serializeAs="String">
                <value />
            </setting>
            <setting name="cZipCompLvl" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="opZip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CCodesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="op7Zip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="c7zCompLvl" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="opClones" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opOBGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opEBGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opInfos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opCheatCodes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opLogFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opLogWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opTreeV" serializeAs="String">
                <value>True</value>
            </setting>
        </Pack_My_Game.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Pack_My_Game.Properties.Settings>
            <setting name="fPlatforms" serializeAs="String">
                <value>Data\Platforms.xml</value>
            </setting>
            <setting name="dPlatforms" serializeAs="String">
                <value>Data\Platforms\</value>
            </setting>
        </Pack_My_Game.Properties.Settings>
    </applicationSettings>
</configuration>