
Pack My Game/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
Pack My Game/obj/x86/Release/en/Pack My Game.resources.dll
Pack My Game/obj/x86/Release/fr/Pack My Game.resources.dll
Pack My Game/obj/x86/Release/Pack My Game.application
Pack My Game/obj/x86/Release/Pack My Game.csproj.CopyComplete
Pack My Game/obj/x86/Release/Pack My Game.csproj.FileListAbsolute.txt
Pack My Game/obj/x86/Release/Pack My Game.csproj.GenerateResource.cache
Pack My Game/obj/x86/Release/Pack My Game.exe
Pack My Game/obj/x86/Release/Pack My Game.exe.manifest
Pack My Game/obj/x86/Release/Pack My Game.pdb
Pack My Game/obj/x86/Release/Pack_My_Game.IHM.AboutBox.resources
Pack My Game/obj/x86/Release/Pack_My_Game.IHM.Config.fr.resources
Pack My Game/obj/x86/Release/Pack_My_Game.IHM.Config.resources
Pack My Game/obj/x86/Release/Pack_My_Game.IHM.Credits.fr.resources
Pack My Game/obj/x86/Release/Pack_My_Game.IHM.Credits.resources
Pack My Game/obj/x86/Release/Pack_My_Game.IHM.Help.resources
Pack My Game/obj/x86/Release/Pack_My_Game.IHM.InfoScreen.fr.resources
Pack My Game/obj/x86/Release/Pack_My_Game.IHM.InfoScreen.resources
Pack My Game/obj/x86/Release/Pack_My_Game.IHM.Lang.fr.resources
Pack My Game/obj/x86/Release/Pack_My_Game.IHM.Lang.resources
Pack My Game/obj/x86/Release/Pack_My_Game.IHM.ProgressCompFolder.resources
Pack My Game/obj/x86/Release/Pack_My_Game.IHM.SelectFolder.resources
Pack My Game/obj/x86/Release/Pack_My_Game.IHM.SplashScreen.resources
Pack My Game/obj/x86/Release/Pack_My_Game.MainWindow.en.resources
Pack My Game/obj/x86/Release/Pack_My_Game.MainWindow.fr.resources
Pack My Game/obj/x86/Release/Pack_My_Game.MainWindow.resources
Pack My Game/obj/x86/Release/Pack_My_Game.Properties.Resources.resources
Pack My Game/Pack My Game.csproj
.vs/Pack My Game/v15/.suo
Pack My Game/Pack My Game.csproj
.vs/Pack My Game/v15/.suo
Pack My Game/Pack My Game.csproj
.vs/Pack My Game/v15/.suo
Pack My Game/Pack My Game.csproj
.vs/Pack My Game/v15/.suo
